* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html,
body {
    max-inline-size: 100%;
    max-block-size: 100%;
    font-family: system-ui, sans-serif;
    /* writing-mode: vertical-rl; */
}
body {overflow: scroll}
body.hidden {overflow: hidden;}
h1, h2, h3 {
    margin-block: 0;
}
:root {
    --whiteColor: #ffffff;
    --darkBlue: rgb(7, 7, 48);
    --headerHeight: auto;
    --navBarWidth: 80%;
    --mainWidth: 75%;
    --startPageHeight: 90vh;
    --textColor: hsl(0, 0%, 0%);
    --textFontWeight: normal;
    --headingFontWeight: 500;
    --headingFontWeight-2: normal;
    --headingFontSize: 1.25rem;
    --ctaFontSize: 1.15rem;
    --ctaFontWeight: 500;
    --paraFontSize: 1rem;
}
img {
    inline-size: 100%;
    block-size: 100%;
}
.cta {
    padding: .5rem 1rem;
    border: none;
    outline: none;
    font-size: var(--ctaFontSize);
    font-weight: var(--ctaFontWeight);
    transition: .2s ease-in-out;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    display: inline-block;
}
.btn-primary {
    background-color: var(--darkBlue);
    color: var(--whiteColor);
}
.btn-primary:hover {
    background-color: var(--whiteColor);
    color: var(--darkBlue);
    border-color: var(--darkBlue);
}
.btn-secondary {
    background-color: var(--whiteColor);
    color: var(--darkBlue);
}

header {
    inline-size: 100%;
    block-size: var(--headerHeight);
    background-color: var(--whiteColor);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.205);
    z-index: 1;
    position: relative;
}
header nav {
    inline-size: var(--navBarWidth);
    block-size: inherit;
    margin-inline: auto;
}

/* header */
header .logo{font-weight: bolder;}
header nav > div {
    inline-size: 100%;
    block-size: 100%;
    margin-inline: auto;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
header nav div a.logo {
    font-size: 1.25rem;
}
header nav .cta {
    display: inline-block;
    block-size: 100%;
    font-size: 1rem;
}
header .cta:hover {
    border-color: transparent;
    border-block-end: 2px solid var(--darkBlue);
}

/* web */
header nav .web{
    flex-direction: row;
}
header nav .web {display: flex;}

/* mobile */
header nav .mobile{display: none;}
header nav .mobile .cta{
    align-self: center;
}
.mb-tabs {
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: -1;
    transition: .2s ease-in-out;
    overflow: hidden;
    background: var(--whiteColor);
    z-index: 3;
    inline-size: 0%;
    block-size: 90vh;
    display: flex;
    flex-direction: column;
}
.mb-tabs .cta{
    inline-size: 100%;
}
.mb-tabs .tabs {
    display: grid;
    align-content: flex-start;
    inline-size: 100%;
    grid-row: 1rem;
}
.mb-tabs .register-link {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

main {
    position: relative;
    inline-size: var(--mainWidth);
    block-size: 100%;
    margin-inline: auto;
}
section.page-starter {
    height: var(--startPageHeight);
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    position: relative;
}
section.page-starter article {
    block-size: 100%;
    display: grid;
}
section.page-starter article:first-of-type {
    align-content: center;
    gap: .1rem 0;
}
.intro-title .logo {
    font-size: 3.5rem;
    line-height: 3.5rem;
}
.intro-title .catchLine {
    font-size: .6rem;
    letter-spacing: .3em;
    font-weight: 700;
    font-style: italic;
}
.intro-discription {
    font-size: .9rem;
    color: var(--textColor);
    max-inline-size: 25ch;
}
section.page-starter article:first-of-type .cta {
    margin-block-start: .5rem;
    font-size: 1rem;
    border: 2px solid transparent;
}
section.page-starter article:first-of-type .cta:hover {
    border-color: var(--darkBlue);
}

section.page-starter article:nth-of-type(2) {
    grid-template-columns: .4fr 0.2fr .4fr;
    grid-template-rows: .4fr 0.2fr .4fr;
}
picture.img-area{
    overflow: hidden;
    transition: .2s ease-in-out;
    position: relative;
}
picture.img-area:first-of-type{
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 0;
}
picture.img-area:nth-of-type(2){
    grid-column: 2/4;
    grid-row: 2/4;
    z-index: 0;
}
section.page-starter article:nth-of-type(2) .picture 
{position: relative;}
.img-src {
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    display: inline-block;
    margin: 1%;
    padding: 1% 2%;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: .7rem;
}

.store {
    margin: 5% 0;
    overflow: hidden;
    display: block;
}
.product-filter{
    border: 1px solid rgba(119, 114, 114, 0.292);
    inline-size: 100%;
    margin-block-start: 1%;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: .5rem 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-filter *{
    font-size: 1rem;
    color: hsl(0, 0%, 30%);
    font-weight: 700;
}
.product-filter .filters{
    display: flex;
    justify-content: center;
}
.product-filter .filter {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2);
}
.product-filter .filter *{
    color: hsl(0, 0%, 50%);
    font-weight: normal;
}
.product-filter .filter span:nth-child(1){
    margin-block-start: .4rem;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.product-filter .filter .filter-options{
    position: absolute;
    inset-block-start: 2rem;
    inset-inline-end: .5rem;
    background-color: var(--whiteColor);
    z-index: 1;
    overflow: hidden;
    box-shadow: 2px 2px 3px rgba(99, 96, 96, .3);
    transition: .2s ease-in-out;
}
.filter-options {block-size: 0;}
.show-filter {block-size: auto;}
.filter .filter-options ul{
    list-style-type: none;
    margin: 0;
}
.filter .filter-options ul li{
    display: block;
    font-size: .8rem;
    color: hsl(0, 0%, 0%);
}
.product-filter .filter .cta{
    border: none;
}
.filter .filter-options ul li:hover{
    background-color: lightgray;
}

.product-list {
    margin-block-start: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(10ch, 100%), 35ch));
    /* gap: 1rem .5rem; */
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
}
.product-list .product {
    border-radius: 5px;
    padding: .5%;
    overflow: hidden;
}
.product-list .product div {
    inline-size: 100%;
}
.product .product-details {
    text-align: center;
    display: grid;
    grid-template-rows: repeat(3, .5fr);
    justify-content: center;
    align-content: center;
}
.product picture {
    block-size: 15rem;
}
.product .product-img {
    overflow: hidden;
    position: relative;
    transition: .3s ease-in-out;
}
.product .product-img img {
    block-size: inherit;
    transition: .3s ease-in-out;    
}
.product .product-img::after {
    content: "";
    inline-size: 100%;
    block-size: 100%;
    background: rgba(0, 0, 0, 0.267);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s ease-in-out;
}
.product .product-img:hover::after {
    opacity: 1;
}
.product .product-img:hover img {
    transform: scale(1.05);
}
.product .product-name {
    font-size: 1rem;
    font-weight: bolder;
    line-height: 1.5rem;
}
.product .product-price {
    font-size: .8rem;
    font-weight: 700;
    color: rgb(11, 11, 65);
}
.product .cta {
    font-size: 1rem;
    border: 2px solid transparent;
}
.product .cta:hover {
    border-color: var(--darkBlue);
}

.testimonials {
    display: grid;
    justify-content: stretch;
    align-content: center;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
}
.testimonials .section-intro {
    text-align: center;
    display: grid;
    justify-content: center;
}
.section-title {
    font-size: 1.2rem;
}
.testimonials .pre-message {
    max-inline-size: 30ch;
}
.testimonials-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(10ch, 100%), 35ch));
    /* gap: 1rem; */
    justify-content: center;
    align-content: center;
    margin-block-start: 1rem;
    overflow-y: hidden;
    overflow-x: scroll;
}
.testimonials-list::-webkit-scrollbar {
  display: none;
}
.testimonials-list article{
    justify-self: start;
    inline-size: 20rem;
}
.testimonials-list fieldset {
    overflow: hidden;
    border-radius: 50%;
    block-size: 10rem;
    inline-size: 10rem;
    border: none;
    margin-inline-start: auto;
    margin-inline-end: auto;
}
.testimonials-list .testimonial-content {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 1rem .5rem;
}
.testimonial-content .person-name {
    font-size: 1rem;
    text-align: center;
}
.testimonials-list article .testimonial {
    max-inline-size: 35ch;
    text-align: center;
    font-size: .9rem;
}

footer {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    padding: 3%;
    margin-block-start: 2rem;
}
footer svg {
    fill: var(--darkBlue);
    inline-size: 100%;
    position: absolute;
    inset-block-end: 0;
    inset-inline-end: 0;
    z-index: -1;
}
footer section {
    margin: auto;
    width: var(--mainWidth);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(10ch, 100%), 35ch));
    gap: 1rem;
    z-index: 1;
    justify-content: center;
}
footer article {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    row-gap: .3rem;
}
footer .footer-part-heading{
    position: relative;
}
footer .footer-part-heading h1{
    color: var(--darkBlue);
    font-size: 1.2rem;
    font-weight: bolder;
}
footer .footer-part-heading::after {
    content: "";
    background-color: var(--darkBlue);
    inline-size: 40%;
    block-size: .15rem;
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    animation: underline 1s;
}
@keyframes underline {
    0% {
        inline-size: 0;
    }
    100% {
        inline-size: 40%;
    }
}
footer article .footer-part-description,
footer article a {
    font-size:.9rem;
    font-weight: 600;
    margin: .25rem 0;
    max-inline-size: 20ch;
    color: var(--textColor);
}
.social-icons {
    display: flex;
    justify-content: start;
    column-gap: 1rem;
}
.social-icons .icon{
    border-radius: 50%;
    font-size: 1rem;
    padding: .6rem .8rem;
}
footer article ul {
    list-style-position: inside;
}
footer article input[type="text"] {
    border: 2px solid var(--darkBlue);
    outline: none;
    padding: 2% 3%;
    margin: 0 0 0.5rem;
    width: 100%;
    color: var(--darkBlue);
    border-radius: 0.2rem;
    font-size: .8rem;
}


.loader {
    position: absolute;
    inset-block-start: 5%;
    inset-inline-start: 0;
    background-color: var(--whiteColor);
    inline-size: 100%;
    block-size: 95%;
    display: grid;
    justify-content: center;
    align-content: center;
    z-index: 2;
    transition: .2s ease-in-out;
}
.loader {display: none;}
.loader.show {display: grid;}
.loader h1 {
    font-size: 1.5rem;
    color: lightgray;
    animation: loader infinite 2s;
}
@keyframes loader{
    0% {color: lightgray;}
    50% {color: black;}
    100% {color: lightgray;}
}

/* item page styling */
.item-details {
    inline-size: 100%;
    block-size: 90vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    gap: 0 1.5rem;
}
.item-details .images {
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1.5fr .5fr 1.5fr;
    grid-template-rows: repeat(auto-fit, minmax(min(15ch, 100%), 30ch));
    gap: .5rem;
    justify-content: center;
    align-content: center;
}
.item-details .images div {
    overflow: hidden;
}
.item-details .images div:first-of-type{
    grid-column: 1/3;
    grid-row: 1/2;
}
.item-details .images div:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/2;
}
.item-details .images div:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
}
.item-details .images div:nth-child(4) {
    grid-column: 2/4;
    grid-row: 2/3;
}
.item-details .item-discription {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.item-discription .item-pre-details {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr .5fr;
    justify-content: space-between;
    align-items: center;
}
.item-discription .item-name {
    font-size: 1.5rem;
}
.item-discription .item-brand {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    background: teal;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}
.item-discription .item-price {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(11, 11, 65); 
}
.item-discription form {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    display: grid;
    gap: 1rem 1.5rem
}
.item-discription form * {
    color: var(--darkBlue);
}
.item-discription form fieldset{
    border: none;
    outline: none;
    display: grid;
    gap: 0 0;
    grid-template-columns: repeat(auto-fit, minmax(5ch, 9ch));
}
.item-discription form .item-count{
    display: flex;
    justify-content: space-evenly;
    grid-row: 0 1rem;
}
.item-discription form .item-count{
    text-align: center;
}
.item-discription form button{
    border: 2px solid transparent;
    color: var(--whiteColor);
}
.item-discription form button:hover{
    border: 2px solid var(--darkBlue);
}
.item-discription form .item-count input{
    outline: none;
    border: 1px solid lightgrey;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    text-align: center;
}
.item-discription form .item-count input[type="radio"]{
    color: var(--darkBlue);
}
.other-products {  
    grid-column: 2/3;
    grid-row: 2/3;
}
.other-products .part-heading{
    position: relative;
}
.other-products .part-heading h1{
    color: var(--darkBlue);
    font-size: 1.2rem;
    font-weight: bolder;
}
.other-products .part-heading::after {
    content: "";
    background-color: var(--darkBlue);
    inline-size: 40%;
    block-size: .15rem;
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    animation: underline 1s;
}
.other-products .items {
    margin-block-start: 1rem;
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
}
.other-products .items .item {
    display: inline-block;
    overflow: hidden;
    inline-size: 7rem;
    block-size: 7rem;
    position: relative;
}
.other-products .item::after {
    content: "";
    inline-size: 100%;
    block-size: 100%;
    background: rgba(0, 0, 0, 0.267);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s ease-in-out;
}
.other-products .item:hover::after {
    opacity: 1;
}

#scrollTop {
    position: fixed;
    inset-block-end: 1.5rem;
    inset-inline-end: 1.5rem;
    transition: .1s ease-in-out;
    z-index: 2;
    color: var(--whiteColor);
}
#scrollTop:hover {
    color: var(--darkBlue);
}
#scrollTop {inset-inline-end: -20%;}
#scrollTop.show {inset-inline-end: 1.5rem;}

@media screen 
    and (max-width: 1024px){
    :root {
        --startPageHeight: 75vh;
        --mainWidth: 90%;
    }
    .product-list {
        grid-template-columns: repeat(auto-fit, minmax(min(10ch, 100%), 30ch));
    }
    footer section {
        margin-block-start: 2.5rem;
        margin-block-end: 3.5rem;
        grid-template-columns: repeat(auto-fit, minmax(min(10ch, 100%), 30ch));
    }
    footer svg {
        height: 13rem;
        width: 100%;
    }
}

@media screen 
    and (max-width: 480px){
    :root {
        --startPageHeight: 90vh;
        --mainWidth: 100%;
        --headerWidth: 100%;
    }
    .cta{
        padding: .6rem 1rem;
        color: var(--darkBlue);
        font-size: 1rem;
    }
    header .cta {color: var(--darkBlue);}
    header nav .web{display: none;}
    header nav {inline-size: 100%;}
    header nav .mobile {display: flex;}
    .showMdTabs {inline-size: 100%;}
    .section.page-starter {    
        height: var(--startPageHeight);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        position: relative;
    }
    section.page-starter article:first-of-type {
        justify-content: center;
        padding: 0 5%;
        grid-column: 1/3;
        grid-row: 1/3;
        background: rgba(0, 0, 0, 0.318);
        z-index: 0;
    }
    section.page-starter article:first-of-type * {
        color: var(--whiteColor);
        text-align: center;
    }
    .intro-title .logo {
        font-size: 4rem;
        line-height: 3.5rem;
    }
    section.page-starter article:first-of-type .intro-discription {
        font-size: .7rem;
    }
    section.page-starter article:nth-of-type(2) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column: 1/3;
        grid-row: 1/3;
        z-index: -1;
    }
    section.page-starter article:nth-of-type(2) picture:first-of-type{
        grid-column: 1/2;
        z-index: -1;
    }
    section.page-starter article:nth-of-type(2) picture:nth-of-type(2){
        display: none;
        background-color: black;
    }
    .store {
        margin-block-start: 5rem;
        margin-block-end: 5rem;
        display: grid;
        justify-content: center;
        padding: 0;
        gap: 0;
    }
    .store .product-filter {
        inline-size: 95%;
        margin: auto;
    }
    .product-list .product {
        inline-size: 100%;
        margin: 0;
        border: none;
    }
    .product .product-img,
    .product picture {
        block-size: auto;
        max-block-size: 50vh;
    }
    .product-list {
        margin: 5% 0;
        grid-template-columns: repeat(auto-fit, 100%);
    }
    footer {
        margin-block-end: 5rem;
    }
    footer section {
        margin-block-start: 2.5rem;
        margin-block-end: 3.5rem;
        inline-size: auto;
        gap: 3rem;
    }
    .footer-part-heading::after {
        inline-size: 35%;
    }
    @keyframes underline {
        0% {
            inline-size: 0;
        }
        100% {
            inline-size: 35%;
        }
    }
    .cta {
        color: var(--whiteColor);
    }
    footer svg {
        height: 5rem;
    }
    
    .item-details {
        block-size: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .item-details .images {
        gap: .3rem;
    }
    .item-details .item-discription,
    .item-details .other-products {
        margin-inline-start: 1rem;
        margin-inline-end: 1rem;
    }
}