<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stono - Step Sleek</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/icons/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="web">
                <div class="logo">
                    <a href="./" class="cta btn-secondary logo">stono</a>
                </div>
                <div class="tabs">
                    <a href="./#Home" class="cta btn-secondary">Home</a>
                    <a href="./store.html#Store" class="cta btn-secondary">Store</a>
                    <a href="./about_us.html#About_us" class="cta btn-secondary">About Us</a>
                    <a href="./cart.html#Cart" class="cta btn-secondary">Cart</a>
                </div>
                <div class="register">
                    <a href="./login.html" class="cta btn-secondary">Login</a>
                    <a href="#" class="cta btn-primary">SignUp</a>
                </div>
            </div>
            <div class="mobile">
                <a href="./" class="cta btn-secondary  logo">stono</a>
                <button id="menu-btn" class="cta btn-secondary ">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
            </div>
            <div class="mb-tabs">
                <div class="tabs">
                    <a href="./#Home" class="cta btn-secondary">Home</a>
                    <a href="./store.html#Store" class="cta btn-secondary">Store</a>
                    <a href="./about_us.html#About_us" class="cta btn-secondary">About Us</a>
                    <a href="./cart.html#Cart" class="cta btn-secondary">Cart</a>
                </div>
                <div class="register-link">
                    <a href="./login.html" class="cta btn-secondary">Login</a>
                    <a href="#" class="cta btn-secondary">SignUp</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="about-us">
            <details open>
                <summary>About Us</summary>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                eveniet ullam similique quibusdam eius sequi, magni incidunt 
                eum necessitatibus reiciendis eos consequatur.
                Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                eveniet ullam similique quibusdam eius sequi, magni incidunt 
                eum necessitatibus reiciendis eos consequatur.
                Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                eveniet ullam similique quibusdam eius sequi, magni incidunt 
                eum necessitatibus reiciendis eos consequatur.
                Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                eveniet ullam similique quibusdam eius sequi, magni incidunt 
                eum necessitatibus reiciendis eos consequatur.
                Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
            </details>
            
            <details>
                <summary>Terms and conditions</summary>
                <ul>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                        eveniet ullam similique quibusdam eius sequi, magni incidunt 
                        eum necessitatibus reiciendis eos consequatur.
                        Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                    </li>
                </ul>
            </details>

            
            <details>
                <summary>Privacy Policy</summary>   
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                eveniet ullam similique quibusdam eius sequi, magni incidunt 
                eum necessitatibus reiciendis eos consequatur.
                Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                eveniet ullam similique quibusdam eius sequi, magni incidunt 
                eum necessitatibus reiciendis eos consequatur.
                Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                eveniet ullam similique quibusdam eius sequi, magni incidunt 
                eum necessitatibus reiciendis eos consequatur.
                Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, 
                eveniet ullam similique quibusdam eius sequi, magni incidunt 
                eum necessitatibus reiciendis eos consequatur.
                Omnis autem, facere blanditiis quaerat nesciunt hic sequi.
            </details>
        </section>
        <div class="loader">
            <h1>stono</h1>
        </div>
    </main>
    <footer>
        <button class="cta btn-primary" id="scrollTop">
            <i class="fa fa-arrow-up"></i>
        </button>
        <section>
            <article>
                <div class="footer-part-heading">
                    <h1>Socials</h1>
                </div>
                <p class="footer-part-description">
                    Follow us on our social media platforms.
                </p>
                <div class="social-icons">
                    <a href="" class="cta btn-primary icon">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="" class="cta btn-primary icon">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="" class="cta btn-primary icon">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
            </article>
            <article>
                <div class="footer-part-heading">
                    <h1>Related Links</h1>
                </div>
                <ul>
                    <a href="./"><li>Home</li></a>
                    <a href="#Store"><li>Store</li></a>
                    <a href="./about-us.html"><li>Terms and conditions</li></a>
                    <a href="./admin"><li>Admin</li></a>
                </ul>
            </article>
            <article>
                <div class="footer-part-heading">
                    <h1>Newsletter</h1>
                </div>
                <p class="footer-part-description">
                    Get the latest updates.
                </p>
                <form action="" class="footer-form">
                    <input type="text" placeholder="Enter Email...">
                    <input class="cta btn-primary" type="submit" value="Subscribe">
                </form>
            </article>
        </section>
        <div class="copy-right" style="justify-self: center;">
            <em>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved - Product of Stono. </em>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="211.141" viewBox="0 0 1920 211.141">
            <path id="wave_2_" data-name="wave(2)" d="M0,192l64,17.65c64,16.99,192,53.28,320,87.92s256,70.93,384,70.435c128,.495,256-35.795,384-44.043s256,8.248,384,0,256-44.537,320-61.528l64-17.65V403.141H0Z" transform="translate(0 -100)"/>
        </svg>          
    </footer>


    <script type="text/javascript" src="../static/js/vanilla-tilt.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>