<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stono - Step Sleek</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/icons/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="web">
                <div class="header-links">
                    <div class="logo">
                        <a href="#" class="cta btn-secondary fw6 logo">stono</a>
                    </div>
                    <div class="tabs">
                        <a href="#" class="cta btn-secondary fw5">Home</a>
                        <a href="#" class="cta btn-secondary fw5">Store</a>
                        <a href="#" class="cta btn-secondary fw5">About</a>
                    </div>
                    <div class="register">
                        <a href="#" class="cta btn-secondary fw5">Login</a>
                        <a href="#" class="cta btn-primary fw6">SignUp</a>
                    </div>
                </div>
            </div>
            <div class="mobile">
                <a href="#" class="cta btn-secondary fw6 logo">stono</a>
                <button id="menu-btn" class="cta btn-secondary fw6">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
            </div>
        </nav>
    </header>
    <div class="mb-tabs">
        <a href="#" class="cta btn-secondary fw5">Home</a>
        <a href="#" class="cta btn-secondary fw5">Store</a>
        <a href="#" class="cta btn-secondary fw5">About</a>
        <a href="#" class="cta btn-secondary fw5">Login</a>
        <a href="#" class="cta btn-secondary fw5">SignUp</a>
    </div>
    <main>
        <section class="page-starter">
            <div class="intro-text">
               <article>
                    <div class="intro-title">
                        <h1 class="logo">stono</h1>
                        <h2 class="catchLine">STEP SLEEK</h2>
                    </div>
                    <div class="intro-discription">
                        <p>Rid of monday blues with the right shoes.</p>
                    </div>
                    <div class="intro-cta">
                        <a href="" class="cta btn-primary fw6">Shop Now</a>
                    </div>
               </article>
            </div>
            <div class="intro-pics">
                <div class="intro-img upper">
                    <div class="img-area">
                        <a href="//images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fHNuZWFrZXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="img-src">View Source</a>
                        <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fHNuZWFrZXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="#">
                    </div>
                </div>
                <div class="intro-img lower">
                    <div class="img-area">
                        <a href="//images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fHNuZWFrZXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="img-src">View Source</a>
                        <img src="https://images.unsplash.com/photo-1600269452121-4f2416e55c28?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8c25lYWtlcnN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="#">
                    </div>
                </div>
            </div>
            <!-- <div class="back-label">
                <h1>stono</h1>
            </div> -->
        </section>
        <section class="store">
            <div class="product-filter">
                <div class="title">
                    <h2>Store</h2>
                </div>
                <div class="filters">
                    <div class="filter">
                        <button class="cta_1 btn-secondary" id="gender-select">
                            <span class="name">Men</span>
                            <span class="arrow">
                                <i class="fa fa-chevron-down"></i>
                            </span>
                        </button>
                        <div class="filter-options" id="gender-list">
                            <ul>
                                <li class="cta_1 btn-secondary gender-option">Men</li>
                                <li class="cta_1 btn-secondary gender-option">Ladies</li>
                                <li class="cta_1 btn-secondary gender-option">Kids</li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter">
                        <button class="cta_1 btn-secondary" id="brand-select">
                            <span class="name">All</span>
                            <span class="arrow">
                                <i class="fa fa-chevron-down"></i>
                            </span>
                        </button>
                        <div class="filter-options" id="brand-list">
                            <ul>
                                <li class="cta_1 btn-secondary brand-option">All</li>
                                <li class="cta_1 btn-secondary brand-option">Vans</li>
                                <li class="cta_1 btn-secondary brand-option">Nike</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <section class="product-list">
                <acticle class="product">
                    <div class="product-img">
                        <img src="https://images.unsplash.com/photo-1579446565308-427218a2c60e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTF8fHNuZWFrZXJzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                    </div>
                    <div class="product-details">
                        <h2 class="product-name">Shoe Name</h2>
                        <h3 class="product-price">100,000</h3>
                        <div class="product-cta">
                            <a href="" class="cta_1 btn-primary fw6">Add To Chart</a>
                        </div>
                    </div>
                </acticle>
                <acticle class="product">
                    <div class="product-img">
                        <img src="https://images.unsplash.com/photo-1581619883162-4a1aa0a6a0c4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIzfHxzbmVha2Vyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                    </div>
                    <div class="product-details">
                        <h2 class="product-name">Shoe Name</h2>
                        <h3 class="product-price">100,000</h3>
                        <div class="product-cta">
                            <a href="" class="cta_1 btn-primary fw6">Add To Chart</a>
                        </div>
                    </div>
                </acticle>
                <acticle class="product">
                    <div class="product-img">
                        <img src="https://images.unsplash.com/photo-1580906853149-f82f7601d205?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA5fHxzbmVha2Vyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                    </div>
                    <div class="product-details">
                        <h2 class="product-name">Shoe Name</h2>
                        <h3 class="product-price">100,000</h3>
                        <div class="product-cta">
                            <a href="" class="cta_1 btn-primary fw6">Add To Chart</a>
                        </div>
                    </div>
                </acticle>
                <acticle class="product">
                    <div class="product-img">
                        <img src="https://images.unsplash.com/photo-1621665421558-831f91fd0500?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA1fHxzbmVha2Vyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                    </div>
                    <div class="product-details">
                        <h2 class="product-name">Shoe Name</h2>
                        <h3 class="product-price">100,000</h3>
                        <div class="product-cta">
                            <a href="" class="cta_1 btn-primary fw6">Add To Chart</a>
                        </div>
                        
                        <!-- <div class="product-cta w-icon">
                            <a href="" class="cta_1 btn-secondary fw6 icon">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="" class="cta_1 btn-secondary fw6 icon">
                                <i class="fa fa-cart-plus"></i>
                            </a>
                        </div> -->
                    </div>
                </acticle>
                <acticle class="product">
                    <div class="product-img">
                        <img src="https://images.unsplash.com/photo-1539185441755-769473a23570?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTZ8fHNuZWFrZXJzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                    </div>
                    <div class="product-details">
                        <h2 class="product-name">Shoe Name</h2>
                        <h3 class="product-price">100,000</h3>
                        <div class="product-cta">
                            <a href="" class="cta_1 btn-primary fw6">Add To Chart</a>
                        </div>
                    </div>
                </acticle>
                <acticle class="product">
                    <div class="product-img">
                        <img src="https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTB8fHNuZWFrZXJzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                    </div>
                    <div class="product-details">
                        <h2 class="product-name">Shoe Name</h2>
                        <h3 class="product-price">100,000</h3>
                        <div class="product-cta">
                            <a href="" class="cta_1 btn-primary fw6">Add To Chart</a>
                        </div>
                    </div>
                </acticle>
            </section>
        </section>
        <section>
            nbuiuiiuviyv
        </section>
    </main>


    <script type="text/javascript" src="../static/js/vanilla-tilt.js"></script>
    <script type="text/javascript">
        VanillaTilt.init(document.querySelector(".intro-pics"), {
            max: 15,
            speed: 400
        });
        
        //It also supports NodeList
        VanillaTilt.init(document.querySelectorAll(".intro-pics"));
    </script>
    <script src="../static/js/script.js"></script>
</body>
</html>