<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stono - Step Sleek</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/icons/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="web">
                <div class="logo">
                    <a href="#" class="cta btn-secondary logo">stono</a>
                </div>
                <div class="tabs">
                    <a href="#Home" class="cta btn-secondary">Home</a>
                    <a href="#Store" class="cta btn-secondary">Store</a>
                    <a href="#About_us" class="cta btn-secondary">About Us</a>
                    <a href="#chart" class="cta btn-secondary">Chart</a>
                </div>
                <div class="register">
                    <a href="#" class="cta btn-secondary">Login</a>
                    <a href="#" class="cta btn-primary">SignUp</a>
                </div>
            </div>
            <div class="mobile">
                <a href="#" class="cta btn-secondary  logo">stono</a>
                <button id="menu-btn" class="cta btn-secondary ">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
            </div>
            <div class="mb-tabs">
                <div class="tabs">
                    <a href="#" class="cta btn-secondary">Home</a>
                    <a href="#" class="cta btn-secondary">Store</a>
                    <a href="#" class="cta btn-secondary">About</a>
                    <a href="#" class="cta btn-secondary">Chart</a>
                </div>
                <div class="register-link">
                    <a href="#" class="cta btn-secondary">Login</a>
                    <a href="#" class="cta btn-secondary">SignUp</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="page-starter">
            <article>
                <div class="intro-title">
                    <h1 class="logo">stono</h1>
                    <h2 class="catchLine">STEP SLEEK</h2>
                </div>
                <div class="intro-discription">
                    <p>Rid of monday blues with the right shoes.</p>
                </div>
                <div class="intro-cta">
                    <a href="" class="cta btn-primary ">Shop Now</a>
                </div>
            </article>
            <article class="intro-pics">
                <picture class="img-area">
                    <a href="https://images.unsplash.com/photo-1518894781321-630e638d0742?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI2fHxzbmVha2Vyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="img-src">View Source</a>
                    <img src="https://images.unsplash.com/photo-1518894781321-630e638d0742?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI2fHxzbmVha2Vyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="#">
                </picture>
                <picture class="img-area">
                    <a href="//images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fHNuZWFrZXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="img-src">View Source</a>
                    <img src="https://images.unsplash.com/photo-1600269452121-4f2416e55c28?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8c25lYWtlcnN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="#">
                </picture>                
            </article>
        </section>
        <section class="store" id="Store">
            <div class="product-filter">
                <div class="title">
                    <h2>Store</h2>
                </div>
                <div class="filters">
                    <div class="filter">
                        <button class="cta btn-secondary" id="gender-select">
                            <span class="name">Men</span>
                            <span class="arrow">
                                <i class="fa fa-chevron-down"></i>
                            </span>
                        </button>
                        <div class="filter-options" id="gender-list">
                            <ul>
                                <li class="cta btn-secondary gender-option">Men</li>
                                <li class="cta btn-secondary gender-option">Ladies</li>
                                <li class="cta btn-secondary gender-option">Kids</li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter">
                        <button class="cta btn-secondary" id="brand-select">
                            <span class="name">All</span>
                            <span class="arrow">
                                <i class="fa fa-chevron-down"></i>
                            </span>
                        </button>
                        <div class="filter-options" id="brand-list">
                            <ul>
                                <li class="cta btn-secondary brand-option">All</li>
                                <li class="cta btn-secondary brand-option">Vans</li>
                                <li class="cta btn-secondary brand-option">Nike</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <section class="product-list">
                <acticle class="product">
                    <div class="product-img">
                        <picture>
                            <img src="https://images.unsplash.com/photo-1579446565308-427218a2c60e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTF8fHNuZWFrZXJzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                        </picture>
                    </div>
                    <div class="product-details">
                        <h2 class="product-name">Shoe Name</h2>
                        <h3 class="product-price">100,000</h3>
                        <a href="" class="cta btn-primary ">Add To Chart</a>
                    </div>
                </acticle>
                <acticle class="product">
                    <div class="product-img">
                        <picture>
                            <img src="https://images.unsplash.com/photo-1581619883162-4a1aa0a6a0c4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIzfHxzbmVha2Vyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                        </picture>
                    </div>
                    <div class="product-details">
                        <h2 class="product-name">Shoe Name</h2>
                        <h3 class="product-price">100,000</h3>
                        <a href="" class="cta btn-primary ">Add To Chart</a>
                    </div>
                </acticle>
                <acticle class="product">
                    <div class="product-img">
                        <picture>
                            <img src="https://images.unsplash.com/photo-1580906853149-f82f7601d205?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA5fHxzbmVha2Vyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                        </picture>
                    </div>
                    <div class="product-details">
                        <h2 class="product-name">Shoe Name</h2>
                        <h3 class="product-price">100,000</h3>
                        <a href="" class="cta btn-primary ">Add To Chart</a>
                    </div>
                </acticle>
                <acticle class="product">
                    <div class="product-img">
                        <picture>
                            <img src="https://images.unsplash.com/photo-1621665421558-831f91fd0500?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA1fHxzbmVha2Vyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                        </picture>
                    </div>
                    <div class="product-details">
                        <h2 class="product-name">Shoe Name</h2>
                        <h3 class="product-price">100,000</h3>
                        <a href="" class="cta btn-primary ">Add To Chart</a>
                    </div>
                </acticle>
                <acticle class="product">
                    <div class="product-img">
                        <picture>
                            <img src="https://images.unsplash.com/photo-1539185441755-769473a23570?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTZ8fHNuZWFrZXJzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                        </picture>
                    </div>
                    <div class="product-details">
                        <h2 class="product-name">Shoe Name</h2>
                        <h3 class="product-price">100,000</h3>
                        <a href="" class="cta btn-primary ">Add To Chart</a>
                    </div>
                </acticle>
                <acticle class="product">
                    <div class="product-img">
                        <picture>
                            <img src="https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTB8fHNuZWFrZXJzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                        </picture>
                    </div>
                    <div class="product-details">
                        <h2 class="product-name">Shoe Name</h2>
                        <h3 class="product-price">100,000</h3>
                        <a href="" class="cta btn-primary ">Add To Chart</a>
                    </div>
                </acticle>
            </section>
        </section>
        <section class="testimonials">
            <div class="section-intro">
                <h2 class="section-title">Testimonials</h2>
                <p class="pre-message">What our previous customers say about us!</p>
            </div>
            <div class="testimonials-list">
                <article>
                    <fieldset>
                        <picture>
                            <img src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29ufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="#" srcset="" width="200" height="300">
                        </picture>
                    </fieldset>
                    <div class="testimonial-content">
                        <h1 class="person-name">Person's Name</h1>
                        <p class="testimonial">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </article>
                <article>
                    <fieldset>
                        <picture>
                            <img src="https://images.unsplash.com/photo-1555952517-2e8e729e0b44?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80" alt="#" srcset="" width="200" height="300">
                        </picture>
                    </fieldset>
                    <div class="testimonial-content">
                        <h1 class="person-name">Person's Name</h1>
                        <p class="testimonial">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </article>
                <article>
                    <fieldset>
                        <picture>
                            <img src="https://images.unsplash.com/photo-1504593811423-6dd665756598?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHBlcnNvbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="#" srcset="" width="200" height="300">
                        </picture>
                    </fieldset>
                    <div class="testimonial-content">
                        <h1 class="person-name">Person's Name</h1>
                        <p class="testimonial">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </article>
            </div>
        </section>
        <div class="loader">
            <h1>stono</h1>
        </div>
    </main>
    <footer>
        <button class="cta btn-primary" id="scrollTop">
            <i class="fa fa-arrow-up"></i>
        </button>
        <section>
            <article>
                <div class="footer-part-heading">
                    <h1>Socials</h1>
                </div>
                <p class="footer-part-description">
                    Follow us on our social media platforms.
                </p>
                <div class="social-icons">
                    <a href="" class="cta btn-primary icon">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="" class="cta btn-primary icon">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="" class="cta btn-primary icon">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
            </article>
            <article>
                <div class="footer-part-heading">
                    <h1>Related Links</h1>
                </div>
                <ul>
                    <a href=""><li>Home</li></a>
                    <a href="#Store"><li>Store</li></a>
                    <a href=""><li>About Us</li></a>
                    <a href=""><li>Policy Policy</li></a>
                    <a href=""><li>Terms and Conditions</li></a>
                </ul>
            </article>
            <article>
                <div class="footer-part-heading">
                    <h1>Newsletter</h1>
                </div>
                <p class="footer-part-description">
                    Get the latest updates.
                </p>
                <form action="" class="footer-form">
                    <input type="text" placeholder="Enter Email...">
                    <input class="cta btn-primary" type="submit" value="Subscribe">
                </form>
            </article>
        </section>
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="211.141" viewBox="0 0 1920 211.141">
            <path id="wave_2_" data-name="wave(2)" d="M0,192l64,17.65c64,16.99,192,53.28,320,87.92s256,70.93,384,70.435c128,.495,256-35.795,384-44.043s256,8.248,384,0,256-44.537,320-61.528l64-17.65V403.141H0Z" transform="translate(0 -100)"/>
          </svg>          
    </footer>


    <script type="text/javascript" src="../static/js/vanilla-tilt.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>