<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stono - Step Sleek</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/icons/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="web">
                <div class="logo">
                    <a href="#" class="cta btn-secondary logo">stono</a>
                </div>
                <div class="tabs">
                    <a href="./#Home" class="cta btn-secondary">Home</a>
                    <a href="#Store" class="cta btn-secondary">Store</a>
                    <a href="#About_us" class="cta btn-secondary">About Us</a>
                    <a href="#chart" class="cta btn-secondary">Chart</a>
                </div>
                <div class="register">
                    <a href="#" class="cta btn-secondary">Login</a>
                    <a href="#" class="cta btn-primary">SignUp</a>
                </div>
            </div>
            <div class="mobile">
                <a href="#" class="cta btn-secondary  logo">stono</a>
                <button id="menu-btn" class="cta btn-secondary ">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
            </div>
            <div class="mb-tabs">
                <div class="tabs">
                    <a href="./item.html" class="cta btn-secondary">Home</a>
                    <a href="#" class="cta btn-secondary">Store</a>
                    <a href="#" class="cta btn-secondary">About</a>
                    <a href="#" class="cta btn-secondary">Chart</a>
                </div>
                <div class="register-link">
                    <a href="#" class="cta btn-secondary">Login</a>
                    <a href="#" class="cta btn-secondary">SignUp</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="item-details">
            <div class="images">
                <div class="img-area">
                    <picture>
                        <img src="https://images.unsplash.com/photo-1579446565308-427218a2c60e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTF8fHNuZWFrZXJzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                    </picture>
                </div>
                <div class="img-area">
                    <picture>
                        <img src="https://images.unsplash.com/photo-1581619883162-4a1aa0a6a0c4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIzfHxzbmVha2Vyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                    </picture>
                </div>
                <div class="img-area">
                    <picture>
                        <img src="https://images.unsplash.com/photo-1580906853149-f82f7601d205?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA5fHxzbmVha2Vyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                    </picture>
                </div>
                <div class="img-area">
                    <picture>
                        <img src="https://images.unsplash.com/photo-1621665421558-831f91fd0500?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA1fHxzbmVha2Vyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                    </picture>
                </div>
            </div>
            <div class="item-discription">
                <div class="item-pre-details">
                    <h1 class="item-name">Shoe Name</h1>
                    <h2 class="item-price">100000</h2>
                    <!-- <span class="item-brand">Nike</span> -->
                </div>
                <form action="" method="post">
                    <div class="item-count">
                        <button class="cta btn-primary item-count" id="decrease-count">-</button>
                        <input type="number" name="" id="cartCount" defaultValue="1">
                        <button class="cta btn-primary item-count" id="increase-count">+</button>
                    </div>
                    <fieldset>
                        <label id="fieldset-label">Shoe Size: </label>
                        <div>
                            <input type="radio" name="shoe-size" id="price-1">
                            <label for="price-1">42</label>
                        </div>
                        <div>
                            <input type="radio" name="shoe-size" id="price-2">
                            <label for="price-2">43</label>
                        </div>
                        <div>
                            <input type="radio" name="shoe-size" id="price-3">
                            <label for="price-3">44</label>
                        </div>
                    </fieldset>
                    <button type="submit" class="cta btn-primary">Place Order</button>
                </form>
            </div>
            <div class="other-products">
                <div class="part-heading">
                    <h1>Other Shoes</h1>
                </div>
                <div class="items">
                    <a class="item" href="./item.html">
                        <picture>
                            <img src="https://images.unsplash.com/photo-1579446565308-427218a2c60e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTF8fHNuZWFrZXJzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                        </picture>
                    </a>
                    <a class="item" href="./item.html">
                        <picture>
                            <img src="https://images.unsplash.com/photo-1581619883162-4a1aa0a6a0c4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIzfHxzbmVha2Vyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                        </picture>
                    </a>
                    <a class="item" href="./item.html">
                        <picture>
                            <img src="https://images.unsplash.com/photo-1580906853149-f82f7601d205?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA5fHxzbmVha2Vyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                        </picture>
                    </a>
                    <a class="item" href="./item.html">
                        <picture>
                            <img src="https://images.unsplash.com/photo-1465453869711-7e174808ace9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fHNuZWFrZXJzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                        </picture>
                    </a>
                    <a class="item" href="./item.html">
                        <picture>
                            <img src="https://images.unsplash.com/photo-1549298916-f52d724204b4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHNuZWFrZXJzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                        </picture>
                    </a>
                    <a class="item" href="./item.html">
                        <picture>
                            <img src="https://images.unsplash.com/photo-1552346154-21d32810aba3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c25lYWtlcnN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                        </picture>
                    </a>
                </div>
            </div>
        </section>
        <div class="loader">
            <h1>stono</h1>
        </div>
    </main>
    <footer>
        <button class="cta btn-primary" id="scrollTop">
            <i class="fa fa-arrow-up"></i>
        </button>
        <section>
            <article>
                <div class="footer-part-heading">
                    <h1>Socials</h1>
                </div>
                <p class="footer-part-description">
                    Follow us on our social media platforms.
                </p>
                <div class="social-icons">
                    <a href="" class="cta btn-primary icon">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="" class="cta btn-primary icon">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="" class="cta btn-primary icon">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
            </article>
            <article>
                <div class="footer-part-heading">
                    <h1>Related Links</h1>
                </div>
                <ul>
                    <a href=""><li>Home</li></a>
                    <a href="#Store"><li>Store</li></a>
                    <a href=""><li>About Us</li></a>
                    <a href=""><li>Policy Policy</li></a>
                    <a href=""><li>Terms and Conditions</li></a>
                </ul>
            </article>
            <article>
                <div class="footer-part-heading">
                    <h1>Newsletter</h1>
                </div>
                <p class="footer-part-description">
                    Get the latest updates.
                </p>
                <form action="" class="footer-form">
                    <input type="text" placeholder="Enter Email...">
                    <input class="cta btn-primary" type="submit" value="Subscribe">
                </form>
            </article>
        </section>
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="211.141" viewBox="0 0 1920 211.141">
            <path id="wave_2_" data-name="wave(2)" d="M0,192l64,17.65c64,16.99,192,53.28,320,87.92s256,70.93,384,70.435c128,.495,256-35.795,384-44.043s256,8.248,384,0,256-44.537,320-61.528l64-17.65V403.141H0Z" transform="translate(0 -100)"/>
          </svg>          
    </footer>


    <script type="text/javascript" src="../static/js/vanilla-tilt.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>